---
---

//
// IMPORTS
//

@import "reset";
@import "variables";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/


html, body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
}
.demo-avatar {
    width: 100%;
    height: auto;
}
.demo-layout .mdl-layout__header .mdl-layout__drawer-button {
  color: rgba(0, 0, 0, 0.54);
}
.mdl-layout__drawer .avatar {
  margin-bottom: 16px;
}
.demo-drawer {
  border: none;
}
/* iOS Safari specific workaround */
.demo-drawer .mdl-menu__container {
  z-index: -1;
}
.demo-drawer .demo-navigation {
  z-index: -2;
}
/* END iOS Safari specific workaround */
.demo-drawer .mdl-menu .mdl-menu__item {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.demo-drawer-header {
  box-sizing: border-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.demo-avatar-dropdown {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
    padding-top: 10px;
}

.demo-navigation {
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.demo-layout .demo-navigation .mdl-navigation__link {
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgba(255, 255, 255, 0.56);
  font-weight: 500;
}
.demo-layout .demo-navigation .mdl-navigation__link:hover {
  background-color: #00BCD4;
  color: #37474F;
}
.demo-navigation .mdl-navigation__link .material-icons {
  font-size: 24px;
  color: rgba(255, 255, 255, 0.56);
  margin-right: 32px;
}
.demo-content {
  max-width: 1080px;
    }

.flex {
  max-width: 1080px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    overflow: auto;
    padding-bottom: 5px;
    border-bottom: 2px solid #9e9e9e;

    @include mobile {
    padding: 8px 0;
    }
}
.post-categories {
    border-bottom: 2px solid #9e9e9e;
    padding-bottom: 10px;
    width: 100%;
}
.demo-charts {
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.demo-chart:nth-child(1) {
  color: #ACEC00;
}
.demo-chart:nth-child(2) {
  color: #00BBD6;
}
.demo-chart:nth-child(3) {
  color: #BA65C9;
}
.demo-chart:nth-child(4) {
  color: #EF3C79;
}
.demo-graphs {
  padding: 16px 32px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
/* TODO: Find a proper solution to have the graphs
 * not float around outside their container in IE10/11.
 * Using a browserhacks.com solution for now.
 */
_:-ms-input-placeholder, :root .demo-graphs {
  min-height: 664px;
}
_:-ms-input-placeholder, :root .demo-graph {
  max-height: 300px;
}
/* TODO end */
.demo-graph:nth-child(1) {
  color: #00b9d8;
}
.demo-graph:nth-child(2) {
  color: #d9006e;
}

.demo-cards {
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-align-content: flex-start;
      -ms-flex-line-pack: start;
          align-content: flex-start;
}
.demo-cards .demo-separator {
  height: 32px;
}
.demo-cards .mdl-card__title.mdl-card__title {
  color: white;
  font-size: 24px;
  font-weight: 400;
}
.demo-cards ul {
  padding: 0;
}
.demo-cards h3 {
  font-size: 1em;
}
.demo-updates .mdl-card__title {
  min-height: 200px;
  background-image: url('images/dog.png');
  background-position: 90% 100%;
  background-repeat: no-repeat;
}
.demo-cards .mdl-card__actions a {
  color: #00BCD4;
  text-decoration: none;
}

.demo-options h3 {
  margin: 0;
}
.demo-options .mdl-checkbox__box-outline {
  border-color: rgba(255, 255, 255, 0.89);
}
.demo-options ul {
  margin: 0;
  list-style-type: none;
}
.demo-options li {
  margin: 4px 0;
}
.demo-options .material-icons {
  color: rgba(255, 255, 255, 0.89);
}
.demo-options .mdl-card__actions {
  height: 64px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  box-sizing: border-box;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.demo-card-image.mdl-card {
      width: 256px;
      min-width: 163px;
      height: 256px;
      margin: 5px;

    @include mobile {
    width:auto;
    margin: 5px;
    }
}
.mdl-card__actions {
    font-size: 16px;
    line-height: normal;
    width: 100%;
    background-color: #00000050;
    padding: 8px;
    box-sizing: border-box;
}
.demo-card-categories.mdl-card {
      width: 202.5px;
      min-width: 163px;
      height: 256px;
      margin: 5px;

    @include mobile {
    width:auto;
    margin: 5px;
    }
}
.mdl-card__supporting-text {
    color: rgba(0,0,0,.54);
    font-size: 1rem;
    line-height: 18px;
    overflow: hidden;
    padding: 16px;
    width: 70%;

    @include mobile {
    width: 100%;}
}
.mdl-card__supporting-form {
    color: rgba(0,0,0,.54);
    font-size: 1rem;
    line-height: 18px;
    overflow: hidden;
    padding: 16px;
    width: 40%;

    @include mobile {
    width: 100%;}
}
    .demo-card-image > .mdl-card__actions {
      height: 52px;
      padding: 16px 5px;
      background: #00000050;
    }
    .demo-card-image__judul {
      color: #fff;
      font-size: 12px;
      font-weight: 500;
    }
    .demo-card-image__tags {
      color: #fff;
      font-size: 10px;
      font-weight: 500;
      float:none;
    }
    .demo-card-image__price {
      color: #fff;
      font-size: 14px;
      font-weight: 500;
      float: left;
    }
    .star {
      float:right;
    }
.archive-group {
    width: -webkit-fill-available;
    margin: 10px 0;
    padding: 0 10px;
}
.posts {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: flex-start;

    @include mobile {
    flex-wrap: nowrap;}
}
.post-categories {

    @include mobile {
    overflow: auto;}
}
.content-produk {
    display: flex;
    flex-wrap: nowrap;

    @include mobile {
    display: flex;
    flex-wrap: wrap;}
}
.gridWhatsApp {
    width: auto;

    @include mobile {
    margin: auto;}
}
.mdl-dialog {
    border-radius: 5px;
    width: max-content;
}
.mdl-dialog__content {
    padding: 0;
    color: rgba(0,0,0,.54);
}
.mdl-textfield-qty {
    position: relative;
    font-size: 16px;
    text-align: center;
    display: inline-block;
    box-sizing: border-box;
    width: 50px;
    height: 25px;
    max-width: 100%;
    margin: 0;
    padding: 5px 0;
    overflow: hidden;
}
.mdl-tabs.is-upgraded .mdl-tabs__panel.is-active {
    display: block;
    min-height: 260px;
}
.selik {
    width: 100%;
    margin: auto;
    border-radius: 5px;
    height: 250px;
    overflow: hidden;

    @include mobile {
    height: 150px;}
        }
 
.selik img {
    width: -webkit-fill-available;
    border-radius: 5px!important;
        }
.tombol-beli {
    margin-top: 55px;
    margin-right: 15px;
    float: right;
}
.post-tab {
    margin-top: 15px;
}
.post-order {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    grid-gap: 15px;
    width: 100%;
    background: #0000001f;
    border-radius: 5px;
    padding: 5px;
    margin-top: 5px;

    @include mobile {
    width: 100%!important;}
}
.post-pick {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-content: stretch;
    align-items: stretch;
}
.back-page {
    margin: 10px 10px;
    vertical-align: middle;
    position: -webkit-sticky;
    position: sticky;
    width:auto;

    @include mobile {
    width:auto!important;
    margin: 5px 10px;
    }
}
.menu-jumlah-produk {display: table;width: 100%;}
.title-jumlah {display: table-cell;width:100px;font-size: 14px;font-weight: bold;vertical-align: top;}
.cell-jumlah-produk {display: table-cell;vertical-align: top;font-size: 14px;}
.jumlah-produk{display: table;width: 100px;border-radius: 2px;background-color: #ffffff;border: none;height: 25px;}
.jumlah-produk button{display: table-cell;width:25px;background-color: #e5e5e5;text-align: center;vertical-align: middle;cursor: pointer;font-size: 18px;outline: 0;height:25px;border:0}
.jumlah-produk button.min{border-radius:50%}
.input-jumlah {display: table-cell;width: 70px;border: 0;}
.jumlah-produk input {width: 100%;border: none;outline: none;text-align: center;}
.jumlah-produk button.plus{border-radius:50%}
// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";
