---
layout: default
---
<article class="mdl-card mdl-shadow--4dp mdl-cell mdl-cell--12-col">
<div class="mdl-color-text--grey-700 mdl-card__supporting-text">
  <h2>{{ page.title }}</h2></div>
<div class="content-produk">
  <div class="post mdl-color-text--grey-700 mdl-card__supporting-text posting-img">
<div class="productPhoto">
            {% for image in page.img %}
<img src="{{ image }}"/>
          	{% endfor %}
</div>
<div class="image-produk">
<img src="{{ page.image }}"/>
</div></div>
  <div class="post mdl-color-text--grey-700 mdl-card__supporting-form">
<div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
  <div class="mdl-tabs__tab-bar">
      <a href="#deskripsi-panel" class="mdl-tabs__tab is-active">Deskripsi Produk</a>
      <a href="#order-panel" class="mdl-tabs__tab">Order Produk</a>
  </div>

  <div class="mdl-tabs__panel is-active" id="deskripsi-panel">
<div class="post-tab mdl-color-text--grey-700">
    {{ content }}
</div>
  </div>
  <div class="mdl-tabs__panel" id="order-panel">
<div class='wrap-contact100'>
<!--=== HTML Form WhatsApp  ===-->
<div class='data-form validate-form' id='whatsapp'>
<!--=== HTML Pilihan Pembayaran ===-->
<input class='tujuan' id='Admin' type='hidden'/>

<!--=== From Jumlah Item ===-->
<label class='mdl-textfield mdl-js-textfield'>
 <i class='fa fa-cart-plus'></i>
<input type='number' value='1' min='1' class='mdl-textfield-qty qty wajib' placeholder='0' onkeypress='return hanyaAngka(event)' style="border:none;background: white;"/>
</label>
<!--=== HTML Opsi Form Produk ===-->
<div class="wrn">Pilih Warna:</div>
<div class="post-order mdl-color-text--grey-700">
            {% for warna in page.warna %}
<div class="rd" style="width: 90px;">
<label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="{{ warna }}">
  <input type="radio" id="{{ warna }}" class="mdl-radio__button warna" value="{{ warna }}" name="options">
  <span class="mdl-radio__label">{{ warna }}</span>
</label></div>
            {% endfor %}
  </div>
<div class="wrn" style="margin-top:10px;">Model Tali:</div>
<div class="post-pick">
<label class='formWhatsApp'>
<select class='mdl-button tali wajib' placeholder='Model' style="border:none;background: white;width:100%;">
<option hidden='hidden' selected='selected' value='Tidak Dipilih'>Pilih Model</option>
<optgroup label='Pilih Model Tali'>
            {% for tali in page.model %}
<option value='{{ tali }}'>{{ tali }}</option>
            {% endfor %}
</optgroup>
</select>
</label>
</div>
<div class="tombol-beli">
  <button type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent show-modal">Beli</button></div>
  <dialog class="mdl-dialog">
    <div class="mdl-dialog__content">
<small>Lengkapi Data Berikut:</small>
<!--=== HTML Table Form Pesanan ===-->
<div class='gridWhatsApp'>
<label class='mdl-textfield mdl-js-textfield mdl-textfield--floating-label'>
<!--=== From Nama ===-->
<input class='nama wajib mdl-textfield__input' placeholder='Nama Kamu' type='text'/>
</label>
<label class='item'>
<!--=== From Alamat ===-->
<textarea class='alamat wajib mdl-textfield__input mdl-textfield--floating-label' placeholder='Alamat Lengkap' type='text'></textarea>
</label>
<label class='mdl-textfield mdl-js-textfield mdl-textfield--floating-label'>
<!--=== From Nomor WhatsApp ===-->
<input type='number' class='nomor wajib mdl-textfield__input' placeholder='No. WhatsApp'onkeypress='return hanyaAngka(event)'/>
</label>
<label class='item'>
<!--=== From Alamat ===-->
<textarea class='note mdl-textfield__input mdl-textfield--floating-label' placeholder='Catatan' type='text'></textarea>
</label>
<div class="wrn" style="margin-top:10px;">Pengiriman:</div>
<label class='formWhatsApp'>
<select class='mdl-button informasi wajib' placeholder='Informasi' style="border:none;background: white;width:100%;">
<option hidden='hidden' selected='selected' value='Tidak Dipilih'>Pilih</option>
<optgroup label='Kirim Pakai?'>
<option value='J%26T Express'>J&T Express</option>
<option value='JNE Express'>JNE Express</option>
<option value='*Go Send'>*Go Send (Kota Tasik)</option>
<option value='*GrabExpress'>*GrabExpress (Kota Tasik)</option>
</optgroup>
</select>
</label>
<div class="wrn" style="margin-top:10px;">Pembayaran:</div>
<label class='formWhatsApp'>
<select class='mdl-button bayar wajib' placeholder='Bayar' style="border:none;background: white;width: 100%;">
<option hidden='hidden' selected='selected' value='Tidak Dipilih'>Pilih</option>
<!--=== HTML Data Pembayaran ===-->
<optgroup label='Pilih Pembayaran'>
<option value='BRI | 0100-01-09897550-6'>Transfer Bank BRI</option>
<option value='BTPN | 90370011795'>Transfer Bank BTPN</option>
<option value='Scan QRIS'>Scan QRIS</option>
</optgroup>
</select>
</label>
</div>
    </div>
    <div class="mdl-dialog__actions mdl-dialog__actions" style="justify-content: space-evenly!important;padding: 8px 0!important;">
      <a type="button" class="whatsapp-btn mdl-button sendWAclik submit">Lanjut</a>
      <button type="button" class="mdl-button close">Tutup</button>
    </div>
  </dialog>
                  </div>
              </div>
<div class="keterangan" style="margin-top: 10px;font-size: small;color: red;border: 1px solid;padding: 20px;">Untuk Pemesanan Warna Dan Jenis Tali berbeda Silahkan tambahkan di catatan.</div>
          </div>
      </div>
  </div>
</div>
</article>
<script>
function hanyaAngka(evt) {
    var charCode = (evt.which) ? evt.which : event.keyCode
    if (charCode > 31 && (charCode < 48 || charCode > 57))

    return false;
    return true;
}
</script>
